core/target/
core/Cargo.lock
core/**/*.rs.bk

client/.import/
client/.godot/
client/android/
client/modules/
client/*.import
client/*.log

client/.mono/
client/.mono_cache/
client/.godot/
client/.mono/metadata/
client/*.mono

bin/

client/*.godot
client/*.tmp
client/*.temp

_local/

!client/project.godot

*.DS_Store
*.swp
*.swo
*.tmp

*~
*.bak

