core/target/
core/Cargo.lock
core/**/*.rs.bk

engine/.import/
engine/.godot/
engine/android/
engine/*.import
engine/*.log

engine/.mono/
engine/.mono_cache/
engine/.godot/
engine/.mono/metadata/
engine/*.mono

engine/*.godot
engine/*.tmp
engine/*.temp

!engine/project.godot

*.DS_Store
*.swp
*.swo
*.tmp

*~
*.bak

