rust/target/
rust/Cargo.lock
rust/**/*.rs.bk

godot/.import/
godot/.godot/
godot/android/
godot/*.import
godot/*.log

godot/.mono/
godot/.mono_cache/
godot/.godot/
godot/.mono/metadata/
godot/*.mono

godot/*.godot
godot/*.tmp
godot/*.temp

!godot/project.godot

*.DS_Store
*.swp
*.swo
*.tmp

*~
*.bak

